:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1352px;
}

.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}

.header-nav-list {
  display: flex;
}

.nav-link {
  color: var(--color-grey);
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}

.nav-link:hover {
  color: var(--color-black);
  border-color: var(--color-primary);
}

.nav-element {
  padding: 0 26px;
}

.nav-element:last-child {
  padding-right: 0;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening-content {
  margin-top: 130px;
  text-align: center;
}

.opening-header {
  font-family: var(--font-raleway);
  /*49px:16px(bazowa wielkość)=3.0625 */
  font-size: 3.0625rem;
}

.opening-heading {
  margin-top: 20px;
  margin-bottom: 38px;
  font: normal normal normal 16px/22px;
}

.opening-baner {
  width: 100%;
  height: auto;
}

.btn {
  color: var(--color-white);
  font-weight: bold;
  font-size:
    1rem/1,
    375rem;
  display: inline-block;
  padding: 16px 65px;
  border-radius: var(--button-radius);
  border: none;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: 40px;
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--large {
  padding: 22px 155px;
}

.statistics {
  margin-top: 100px;
}

.statistics-container {
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 2.25rem; /*36px:16px(domyślne) */
  text-align: center;
}

.statistics-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: var(--font-raleway);
}

.statistics-ikon {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
}

.statistics-img {
  position: absolute;
}

.statistics-column:nth-child(1) .statistics-ikon {
  background-color: var(--color-redish);
}

.statistics-column:nth-child(1) .statistics-img {
  top: 0;
  left: 45%;
}

.statistics-column:nth-child(2) .statistics-ikon {
  background-color: var(--color-primary);
}

.statistics-column:nth-child(2) .statistics-img {
  top: 22%;
  left: 30%;
}

.statistics-column:nth-child(3) .statistics-ikon {
  background-color: var(--color-green);
}

.statistics-column:nth-child(3) .statistics-img {
  top: 9%;
  left: 50%;
}

.statistics-number {
  font-family: var(--font-raleway);
  /*20px(według wzoru):16px(domyślne)=1.25rem */
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.298rem; /*5,96px:20px*/
  margin-top: 13px;
}

.statistics-info {
  color: var(--color-grey);
  margin-top: 19px;
}

.benefits {
  padding: 100px 0;
  background-color: var(--color-light-grey);
}

.container-benefits {
  padding: 0 100px;
}

.benefits-box {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}

.benefits-title {
  font-size: 2.25rem;
  font-family: var(--font-raleway);
  text-align: left;
}

.benefits-text {
  max-width: 416px;
  margin: 91px 36px;
}

.benefits-text:after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 50px;
}

.benefits-article {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits-img {
  position: relative;
}

.benefits-img img {
  position: relative;
  z-index: 2;
}

.benefits-box-notebook {
  --accent-color: var(--color-redish);
}

.benefits-box-notebook .benefits-img {
  margin-right: 117px;
  margin-bottom: 38px;
}

.benefits-box-notebook .benefits-img::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefits-box-notebook .benefits-img img {
  width: 386px;
  height: auto;
}

.benefits-box-phone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits-box-phone .benefits-img::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.benefits-box-phone .benefits-img img {
  width: 426px;
  height: 328px;
}

.benefits-box-phone .benefits-text {
  margin: 70px 0;
}

.benefits-double {
  --accent-color: var(--color-green);
  display: flex;
}

.benefits-double > div {
  margin-bottom: 0;
}

.benefits-box-left {
  width: 623px;
  height: 370px;
}

.benefits-box-left .benefits-text {
  max-width: none;
  margin: 70px 35px;
}

.benefits-box-img {
  width: 440px;
  height: 370px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  margin-left: 60px;
}

.benefits-box-img img {
  width: 295px;
  height: 208;
}

.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing-box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
}

.pricing-details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing-type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-price {
  font-size: 2.875rem;
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing-limited {
  text-align: center;
  margin-top: 25px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-items {
  text-align: center;
}

.pricing-item {
  font-size: 0.875rem;
  margin-bottom: 20px;
}

.pricing-item:before {
  content: '';
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url('../assets/Ckechmark-1.svg');
}

.pricing-item-not::before {
  background-image: url('../assets/Close.svg');
}

.pricing-box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: var(--accent-color);
}

.pricing-box-basic {
  --accent-color: var(--color-redish);
}

.pricing-box-basic .pricing-price {
  margin-bottom: 30px;
}

.pricing-box-professional {
  --accent-color: var(--color-primary);
  width: 405px;
  height: 500px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing-box-professional .pricing-type {
  font-size: 1.3125rem;
}

.pricing-box-professional .pricing-item {
  margin-bottom: 25px;
}

.pricing-box-premium {
  --accent-color: var(--color-green);
}